.nav-link{
    color: rgb(247, 244, 244);
}
.nav-link:hover{
    text-decoration: none;
    color:grey;
}
.navbar{
    background-color:#DCA47C;
}
.body{
    background-color:#BDE8CA;
    height:100vh;
    width:100vw;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(300px, 0.5fr));
    gap: 15px;
    justify-content: center;
    padding: 25px;

}
img{
    height: 200px;
    width: 200px;
    object-fit: fill;
    

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#698474 ;
    
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 2px;
    text-decoration: none;
    color: whitesmoke;

}
button{
    text-decoration: none;
}
